Package: xdg-user-dirs-dbgsym
Package-Type: ddeb
Source: xdg-user-dirs
Version: 0.18-1build1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 42
Depends: xdg-user-dirs (= 0.18-1build1)
Section: debug
Priority: optional
Description: debug symbols for xdg-user-dirs
Build-Ids: be63bd8de7a3bf3f76c696d26d25ed27bf454e81
Original-Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
